@font-face {
  font-family: "Slussen";
  src: local("fonts/HM-Slussen-Text-Expanded-Bold.woff2"),
    url("fonts/HM-Slussen-Text-Expanded-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.section {
  display: flex;
  gap: 0px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
}

.relative {
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
.media:hover {
  opacity: 0.7;
  cursor: pointer;
}
.volume {
  position: absolute;
  top: 56px;
  right: 0;
  padding: 1rem;
}
.volume:hover {
  opacity: 0.7;
  cursor: pointer;
}

.section-free {
  display: flex;
  gap: 0px;
  max-width: 420px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: none;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  margin: 0 auto;
}

.touch-area {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 85%;
  background-color: #f7f7f7;
  opacity: 0;
}

.section-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.section__item {
  --stop: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: auto;
  scroll-snap-align: center;
  scroll-snap-stop: var(--stop);
  background-color: #ccc;
}

.teaser-image {
  width: 100%;
  object-fit: contain;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.navbar {
  max-width: 420px;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0 1rem 0;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  z-index: 9999;
}

.nav-item {
  width: 32px;
}

.header-wrap {
  padding: 0px 1rem 0px 1rem;
}

/* Other styles */

h1 {
  font-size: 1.5rem;
}

body {
  background-color: #f9f9f9;
  font-family: "Slussen", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 16px; /* Sets the base font size to 16px */
}
.section::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background-color: transparent;
}

.section::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important; /* make scrollbar transparent */
}
