.section {
  display: flex;
  gap: 0px;
  max-width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
}

.section__item {
  --stop: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: auto;
  scroll-snap-align: center;
  scroll-snap-stop: var(--stop);
  background-color: #ccc;
  font-size: 1.5rem;
}

.teaser-image {
  width: 100%;
  object-fit: contain;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 108px;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;
}

/* Other styles */

body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.section::-webkit-scrollbar {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
  background-color: transparent;
}

.section::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important; /* make scrollbar transparent */
}
